#pageTitle {
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

#openingPageInput {
    background-color: red;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#petNameInput {
    background-color: red;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#speciesSelect {
    font-size: 20px;
}

#createPet {
    margin: 20px;
    text-align: center;
    font-size: 25px
}

.petActions {
    margin: 20px;
    text-align: center;
    font-size: 25px
}