body {
    background-color: beige;
}

#pageTitle {
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

#welcomeMessage {
    width: 750px;
    text-align: center;
}

#openingPageInput {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#petNameInput {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#speciesSelect {
    font-size: 20px;
}

#createPet {
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#confirmBtn {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    margin-top: bottom;
}

#petPage.hide {
    
}

#pet {
    display: flex;
    justify-content: center;
}

#petAnimation {
    display: flex;
    justify-content: center;
}

#petActions {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.petButton {
    font-size: 30px;
    margin: 20px;
}

#deathMessage {
    text-align: center;
    font-size: 20px;
}