body {
    background-color: beige;
}

#pageTitle {
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

#welcomeMessage {
    width: 750px;
    text-align: center;
}

#openingPageInput {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#petNameInput {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#speciesSelect {
    font-size: 20px;
}

#createPet {
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#confirmBtn {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    margin-top: bottom;
}

#petPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#page2Title {
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

#petAnimations {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.petActions {
    margin: 20px;
    font-size: 30px;
    margin-top: bottom;
}

#failText {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#deathMessage {
    width: 750px;
    font-size: 30px;
    margin: auto;
    padding: 30px;
}

#reset {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
}